name: Release GitHub Actions

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Tag for the release"
        required: true
      script:
        description: "Specify the build script to run"
        required: true
        type: string
        default: "yarn build"
      yarn_version:
        description: "Yarn version to use (only if package_manager is yarn)"
        required: false
        type: string
        default: "3.2.3"

permissions:
  contents: read

jobs:
  release:
    permissions:
      actions: read
      id-token: write
      contents: write

    uses: step-security/reusable-workflows/.github/workflows/actions_release.yaml@v1
    with:
      tag: "${{ github.event.inputs.tag }}"
      script: "${{ github.event.inputs.script }}"
      yarn_version: "${{ github.event.inputs.yarn_version }}"
