name: CI

on:
  - pull_request

jobs:

  lint:
    name: Linting Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup NodeJs
        uses: actions/setup-node@v6
        with:
          node-version: "lts/*"

      - name: Enable Corepack
        run: corepack enable

      - name: Install Dependencies
        run: yarn install --immutable

      - name: Run Linting Checks
        run: yarn lint

      - name: Check spelling
        run: yarn check-spelling

  tests:
    name: "Test"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Setup NodeJs
        uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"

      - name: Enable Corepack
        run: corepack enable

      - name: Install Dependencies
        run: yarn install --immutable

      - name: Build
        run: yarn build

      - name: Run Tests
        run: yarn test
